@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
*{
    margin: 0;

}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
   

}
 .first-line{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
   
    height: 100px;

}
.firstline1{
    margin-left: 170px;
    color:rgb(230, 83, 60);
    font-size:3rem;
    font-weight: 800;

}
.firstline2{
  display: flex;
  gap: 5rem;
  margin-right: 170px;
  border:2px solid silver;
  padding: 10px 15px;
  border-radius: 30px;
  
  
}
.firstline2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
 }

.firstline2 button{
 border: 2px solid color rgb(230, 83, 60);
 border-radius: 20px;
 padding: 12px;
 background-color: rgb(230, 83, 60);
 color: white;
 font-size: 18px;
 font-weight: 600;
 cursor: pointer;
}
.section1{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28rem;
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
   
  
    
    
   
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
    
}
.leftside h3{
    font-size: 78px;
    font-weight: 900;
    color: white;
}
.leftside p{
    font-size: 16px;
    font-weight: 400;
    color: white;
} 
.twobutton{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin:0px 15px;
    padding: 0px 20px;
    font-size: 25px;
    font-weight: 600;
    width: 500px;
    height: 55px;
    
}
.btn1{
    border-radius: 30px;
    color: white;
    background-color: rgb(230, 83, 60); 
    padding:0px 100px;
    display:flex;
    align-items: center;
    border: 1px solid silver;
    
      
}
.btn2{
    border-radius: 30px;
    color: white;
    
    padding:0px 100px;
    display:flex;
    align-items: center;
    background-color: black;
    border: 1px solid silver;
   
    }
.float{
    position: relative;
    
    margin-right: 23rem;
    padding: 20px 35px;
    
    left:13rem;
    bottom: 26rem;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    
    
     
}
.float h3{
    font-size: 35px;
     font-weight: 900;
}
.float p{
    font-size: 13px;
    font-weight: 400;
}

.float2{
    position: relative;
    right: 5rem;
    bottom:15rem;
    
    margin-right: 23rem;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    
}
.float2 h4{
    font-size: 24px;
    font-weight: 900;
}
.float2 p{
    font-size: 16px;
    font-weight:400;
}
.ball{
    border: 2px solid rgb(230, 83, 60); 
    height: 50px;
    width: 70px;
    border-radius: 50px;
    background-color: rgb(230, 83, 60); 
}
.pic1{
    position: relative;
    right: 8rem;
    
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    
    margin-top: 5rem;
    padding-left:80px;
    
}  
.pic2{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    top: 2rem;
}
.designletter{

    /*"Playwrite HR Lijeva", cursive;*/

   
    font-family: "Playwrite BR", cursive;
    font-style: italic;
    
   
    
}

.container{
    

}
.part2{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    /* Desktop - 1 */
position: relative;
height: 4650px;
    
    
}
.p2{
    
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10px 5rem;
    border: 2px solid white;
    
}
.p2 h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.p3{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
     
}
.p3:hover{
    background-color: rgba(17, 16, 16, 0.527);
}
.p4{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.p4:hover{
    background-color: rgba(17, 16, 16, 0.527);
}
.p5{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.p5:hover{
    background-color: rgba(17, 16, 16, 0.527);
}
.p6{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
    .p6:hover{
        background-color: rgba(17, 16, 16, 0.527);
    }
    
.p3 img{
    border: 2px solid silver;
    border-radius: 50%;

}
.p4 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p5 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p6 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    padding: 20px 20px;
}
.p1 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.p1 p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.p2 p{
    text-align: center;
    color: silver;
    font-size: 12px;
font-weight: 600;
}
.run{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px;
    gap: 2rem;
}
.run:hover{
    background-color: slategray;
}

.running img{
    border-radius: 20px;
    
    border:2px solid white;
}
.wrun{
    display: flex;
    flex-direction: column;
    text-align: left;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.wrun button{
padding:10px 50px;
border-radius: 20px;
color: whitesmoke;
background-color:rgb(230, 83, 60); 
font-size: 18px;
font-weight: 600;

}
.wrun h3{
    color: whitesmoke;
    font-size: 3rem;
    font-weight:800;
}
.wrun p{
    color: silver;
    font-size: 18px;
    font-weight:600;

}
.training{
display: flex;
flex-direction: column;
padding: 10px 30px;
gap:1rem;
}
.training h3,.training p{
    display: flex;
    justify-content: center;
    color: white;
}
.training h3{
    font-size: 3rem;
    font-weight: 900;
}
.training p{
    font-size: 1.5rem;
    font-weight: 600;
}
.row-1{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.7fr;
    margin:1rem 0;
    gap:1rem ;
}
.row-1 img{
    width: 100%;
    height: 200px;
   
}

.strecth{
    position: relative;
}
.swr{
    position: absolute;
    color: white;
    font-size: 25px;
}
.swr1{
   bottom: 5%;
   left: 2%;
}
.swr2{
    top: 5%;
    left: 5%;
}
.swr3{
    bottom: 5%;
    left: 10%;
}
.pos1 img{
    outline: 100px solid rgba(6, 255, 210, 0.5);
    object-fit: cover;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    
  }
  .pos2 img{
    outline: 100px solid rgba(255, 0, 0, 0.3);
    object-fit: cover;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    
  }
  .pos3 img{
    outline: 100px solid rgba(0, 0, 0, 0.5);
    object-fit: cover;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
   
  }


