@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
*{
    margin: 0;

}
body{
    font-family: "Inter", sans-serif;
}
.container{
  
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
   

}
 .first-line{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
   
    height: 100px;

}
.firstline1{
    
    color:rgb(230, 83, 60);
    font-size:3rem;
    font-weight: 800;
    font-style: italic;
    

}
.firstline2{
  display: flex;
  gap: 5rem;
  margin-right: 170px;
  border:2px solid silver;
  padding: 10px 15px;
  border-radius: 30px;
  
  
}
.firstline2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
 }

.firstline2 button{
 border: 2px solid color rgb(230, 83, 60);
 border-radius: 20px;
 padding: 12px;
 background-color: rgb(230, 83, 60);
 color: white;
 font-size: 18px;
 font-weight: 600;
 cursor: pointer;
}
.section1{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28rem;
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
   
  
    
    
   
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
    
}
.leftside h3{
    font-size: 5rem;
    font-weight: 900;
    color: white;
}
.leftside p{
    font-size: 16px;
    font-weight: 400;
    color: white;
} 
.twobutton{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    font-size: 25px;
    font-weight: 600;
    width: 500px;
    height: 55px;
    
}
.btn1{
    border-radius: 30px;
    color: white;
    background-color: rgb(230, 83, 60); 
    padding:0px 60px;
    display:flex;
    align-items: center;
    border: 1px solid silver;
    cursor: pointer;
    
      
}
.btn2{
    border-radius: 30px;
    color: white;
    
    padding:0px 60px;
    display:flex;
    align-items: center;
    background-color: black;
    border: 1px solid silver;
    cursor: pointer;
   
    }
.float{
    position: relative;
    
    margin-right: 23rem;
    padding: 20px 35px;
    
    left:13rem;
    bottom: 26rem;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    
    
     
}
.float h3{
    font-size: 35px;
     font-weight: 900;
}
.float p{
    font-size: 13px;
    font-weight: 400;
}

.float2{
    position: relative;
    right: 5rem;
    bottom:15rem;
    
    margin-right: 23rem;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    
}
.float2 h4{
    font-size: 24px;
    font-weight: 900;
}
.float2 p{
    font-size: 16px;
    font-weight:400;
}
.ball{
    border: 2px solid rgb(230, 83, 60); 
    height: 50px;
    width: 70px;
    border-radius: 50px;
    background-color: rgb(230, 83, 60); 
}
.pic1{
    position: relative;
    right: 8rem;
    
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    
    margin-top: 5rem;
    padding-left:80px;
    
}  
.pic2{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    top: 2rem;
}
.designletter{

    /*"Playwrite HR Lijeva", cursive;*/

   
    font-family: "Playwrite BR", cursive;
    font-style: italic;
    
   
    
}

.container{
    

}
.part2{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    /* Desktop - 1 */
position: relative;
height: 4300px;
    
    
}
.p2{
    
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10px 5rem;
    
    
}
.p2 h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.p3{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
     
}
.p3:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }


.p4{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.p4:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }


.p5{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.p5:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }

.p6{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.p6:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }
 
    
.p3 img{
    border: 2px solid silver;
    border-radius: 50%;

}
.p4 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p5 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p6 img{
    border: 2px solid silver;
    border-radius: 50%;
}
.p1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    padding: 20px 20px;
}
.p1 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.p1 p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.p2 p{
    text-align: center;
    color: silver;
    font-size: 12px;
font-weight: 600;
}
.run{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px;
    gap: 2rem;
}
.run:hover{
    background-color: slategray;
}

.running img{
    border-radius: 20px;
    
    border:2px solid white;
}
.wrun{
    display: flex;
    flex-direction: column;
    text-align: left;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.wrun button{
padding:10px 50px;
border-radius: 20px;
color: whitesmoke;
background-color:rgb(230, 83, 60); 
font-size: 18px;
font-weight: 600;
cursor: pointer;

}
.wrun h3{
    color: whitesmoke;
    font-size: 3rem;
    font-weight:800;
}
.wrun p{
    color: silver;
    font-size: 18px;
    font-weight:600;

}
.training{
display: flex;
flex-direction: column;
padding:3rem;

}
.training:hover{
    background-color: slategray;
    
    }
.training h3,.training p{
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 10px 0px;
}
.training h3{
    font-size: 3rem;
    font-weight: 900;
}
.training p{
    font-size: 1.5rem;
    font-weight: 600;
}
.row-1{
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 0.7fr;
   
}
.row-1 img{
    width: 100%;
    height: 200px;
   
}

.strecth{
    position: relative;
}
.swr{
    position: absolute;
    color: white;
    font-size: 25px;
}
.swr1{
   bottom: 5%;
   left: 2%;
}
.swr2{
    top: 5%;
    left: 5%;
}
.swr3{
    bottom: 5%;
    left: 10%;
}
.pos1 img{
    outline: 100px solid rgba(6, 255, 210, 0.5);
    
    outline-offset: -100px;
   
    
  }
  .pos2 img{
    outline: 100px solid rgba(255, 0, 0, 0.3);
    
    outline-offset: -100px;
   
    
  }
  .pos3 img{
    outline: 100px solid rgba(0, 0, 0, 0.5);
    
    outline-offset: -100px;
    
   
  }
  .row-2{
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 0.7fr;
    
  }
  .row-2 img{
    width: 100%;
    height: 200px;
  }
  .swr4{
    top: 10%;
    left:55%;
 }
 .swr5{
    bottom: 5%;
    left: 2%;
 }
 .swr6{
     bottom: 8%;
     left: 10%;
 }
 .pos4 img{
    outline: 100px solid rgba(0, 0, 0, 0.5);
    
    outline-offset: -100px;
    
    
    
  }
  .pos5 img{
    outline: 100px solid rgba(66, 255, 0, 0.3);
    
    outline-offset: -100px;
   
    
  }
  .pos6 img{
    outline: 100px solid rgba(0, 71, 255, 0.3);
    
    outline-offset: -100px;
   
   
  }
  .headerbmi{
    padding:40px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    color: white; 
  }
  .headerbmi h3{
    font-size: 3.5rem;
    font-weight: 900;
  }
  .headerbmi p{
    font-size: 2rem;
    font-weight: 600;
  }
  .chart{
    padding:40px;
    
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;


  }
  .chart:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }
  .chart h3{
  color: white;
  
  width: 35%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;

  }
  .table{
    padding: 20px;
    border: 2px solid white;
    width: 60%;
    height: 450px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .div1{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 1rem;
  }
  .div1:hover{
    background-color: rgb(230, 83, 60);
  }
  .div2{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .div2:hover{
    background-color: rgb(230, 83, 60);
  }
  .div3{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 1rem;
  }
  .div3:hover{
    background-color: rgb(230, 83, 60);
  }
  
  .div4{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .div4:hover{
    background-color: rgb(230, 83, 60);
  }
  .div5{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .div5:hover{
    background-color:rgb(230, 83, 60);
  }
  .calculate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;
  }
  .compute{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 2.7rem;
    
    
    
  }
  .compute:hover{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
  }
  .compute h3{
    font-size: 2rem;
    color: white;
    font-weight: 800;
    margin-left: 0.5rem;
  }
  .compute p{
   font-size: 1rem;
   color: white;
   font-weight: 600;
   margin-left: 0.5rem;
  }
  .inputfirst{
  
  display:flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  margin-left: 0.5rem;
  }
  .inputsecond{
    
    display:flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    margin-left: 0.5rem;
    }
    .inputthird{
        
        display:flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        margin-left: 0.5rem;
        }
        .qwe{
            
            display:flex;
            flex-direction: row;
            gap: 2rem;
            padding: 1rem;
            margin-left: 0.5rem;
            
            }
            .qwe button{
              cursor: pointer;

            }
            .inputfirst input{
                
                padding: 1rem;
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.1);
                border-radius: 1rem;
                color: white;
                font-size: 1rem;
                font-weight: 600;
                
                }
                .inputsecond input,.inputsecond select{
                
                    padding: 1rem;
                    backdrop-filter: blur(20px);
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 1rem;
                    color: white;
                    font-size: 1rem;
                    font-weight: 600;
                    
                    }
                    .inputthird select{
                
                        padding: 1rem;
                        backdrop-filter: blur(20px);
                        background: rgba(255, 255, 255, 0.1);
                        border-radius: 1rem;
                        color: white;
                        font-size: 1rem;
                        font-weight: 600;
                        
                        }
                        .qwe button{

                            padding: 1rem;
                            backdrop-filter: blur(20px);
                            background: rgb(230, 83, 60); 
                            border-radius: 1.5rem;
                            color: white;
                            font-size: 1.5rem;
                            font-weight: 600;                      

                        }
                        .row-3{
                          display: grid;
                          grid-template-columns: 1fr 1fr 1fr;
                          gap: 1.5rem;
                          margin: 10px 10px;
                          padding: 1rem;
                          
                        }
                        .row-3 img{
                          width: 100%;
                          height: 450px;
                          border-radius: 1rem;
                          
                        }
                        .row-4{
                          display: grid;
                          grid-template-columns: 1fr 1fr 1fr;
                          gap: 1.5rem;
                          margin: 10px 10px;
                          padding: 1rem;
                          
                         }
                         .row-4 img{
                          width: 100%;
                          height: 450px;
                          border-radius: 1rem;
                          
                        }
                        .likha{
                          position: absolute;
                          color: rgb(255, 255, 255);
                          font-size: 25px;
                          
                          
                          
                          
                        }
                        .likha1{
                          bottom: 55%;
                          left: 5%;
                          
                          
                        }
                        
                        .likha2{
                          bottom:55%;
                          left: 36%;
                        } 
                      
 
                        .likha3{
                          bottom: 55%;
                          left: 68%;
                          
                        } 
                      
                        .likha4{
                          bottom: 6%;
                          left: 5%;
                        } 
                        
                        .likha5{
                          bottom: 6%;
                          left: 36%;
                        } 
                        
                        .likha6{
                          bottom: 6%;
                          left: 68%;
                        } 
                       
                        .universe {
                          position: relative;
                          
                          padding: 1rem 1rem;
                        }
                        .TopTop{
                          color: white;
                          
                          display: flex;
                          justify-content: center;
                          flex-direction: column;
                          align-items: center;
                          gap: 1rem;

                        }
                        .TopTop h3{
                         font-size: 3.5rem;
                         font-weight:900;

                        }
                       .footer{
                        display: grid;
                        grid-template-columns: 3fr 2fr 2fr;
                        height: 700px;
                        gap: 10rem;
                       }
                       .footer1{
                        display: flex;
                        flex-direction: column;
                        
                        margin-top: 5rem;
                        align-items: center;
                        gap: 2rem;
                        }
                       .footer2{
                        display: flex;
                        flex-direction: column;
                        margin-top: 5rem;
                        gap: 2rem;
                        

                        
                       }
                       .footer3{
                        display: flex;
                        flex-direction: column;
                        
                        gap: 2rem;
                        margin-top: 5rem;
                       }
                       .footer1 h3{
                        font-size: 5rem;
                        color:rgb(230, 83, 60);  
                        font-style: italic;


                       }
                       .footer1 p{
                         font-size: 1.5rem;
                         color: silver;
                        
                       }
                       .footer2 h3{
                       font-size: 2rem;
                       color: white; 

                       }
                       .footer3 h3{
                        font-size: 2rem;
                        color: white; 
 
                        
                        }
                        .footer2 p{
                          font-size: 1.5rem;
                          color: silver;
                          cursor: pointer;
   
                          }
                          .footer3 p{
                            font-size: 1.5rem;
                            color:silver; 
                            cursor: pointer;
     
                            }
                            .pera{
                              margin-left: 7rem;
                            }
                            .hr1{
                              position: relative;
                              left: 10rem;

                            }
                            .hr2{

                            }
                            .hr3{
                              position: relative;
                              right: 10rem;

                            }
                         
                            .Copyri8{
                             display: flex;
                             justify-content: center;
                              position: relative;
                              bottom: 7rem;
                              left: 31rem;
                              color: silver;
                              font-size: 1.2rem;
                              font-weight: 600;
                              
                              margin-bottom: 5rem;
                              
                            }
                            .Copyri82{
                              display: none;
                            }
                            @media  screen and (max-width:576px) 
                            {
                          
                              
                          
                              .container{
                                width: 94rem;
                                
                                border-radius: 1rem;
                                
                                background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(14, 13, 13, 0.705) 100%);
                               

                                height: 115rem;
                            
                            }
                            .part2{
                              width: 92rem;
                              height: 230rem;
                              position: absolute;
                              top: 115rem;

                              
                            }
                            .p2 img{
                              height: 500px;
                            }
                            .firstline1{
                              font-size: 5rem;
                              margin-top: 2rem;
                              margin-left: 15rem
                              ;
                            }
                            .firstline2{
                              display: none;
                            }
                            .leftside{
                             position: relative;
                             bottom: 3rem;
                             left: 15rem;
                             margin-top: 5rem;
                            

                            }
                            .leftside h3{
                              font-size: 5rem;
                            }
                            .leftside p{
                              font-size: 2.5rem;
                            }
                            .twobutton{
                              height: 5rem;
                              
                            }
                            .btn1{
                              font-size: 2rem;
                              padding: 0px 100px;
                            
                         
                            }
                            .btn2{
                              font-size: 2rem;
                              padding: 0px 100px;
                              
                            }
                            .pic1{ 
                              position: relative;
                              right: 39rem;
                              top: 55rem;
                            }
                            .pic2{
                              width: 400px;
                            }
                            .float{
                              position: relative;
                              bottom: 35rem;
                              left: 250px;
                            }
                            .float h3{
                              font-size: 3rem;
                            }
                            .float p{
                              font-size: 2rem;
                            }
                            .float2{
                              position: relative;
                              top: -400px;
                              right: 8rem;
                            }
                            .float2 h4{
                              font-size: 3rem;
                            }
                            .float2 p{
                              font-size: 2rem;
                            }
                            .p1 h3{
                              font-size: 4rem;
                            }

                            .p1 p{
                              font-size: 3rem;
                              margin-top: 1rem;
                              margin-left: 2rem;
                              
                            }
                            .p2{
                              display: flex;
                              flex-direction: column;
                              gap:3rem;
                            }
                            .p2 h3{
                              font-size: 3rem;
                            }
                            .p2 p{
                              font-size: 2rem;
                            }
                          
                              
                             .run{
                              display: grid;
                              grid-template-columns: 1fr;
                              width: 90rem;
                              
                              position:relative;
                              top: 3.8rem;
                              right: 1.5rem;
                              

                            }
                            .wrun{
                              position: relative;
                              right: 1rem;
                              gap: 3rem;
                            }
                           
                            .wrun p{
                              font-size: 2rem;
                            }
                            .wrun button{
                              font-size: 2.5rem;
                            }
                            .running{
                              position: relative;
                              right: 1rem;
                            }
                            .training{
                              width: 89rem;
                              position: relative;
                              right:1.5rem ;
                              gap: 2rem;
                              bottom:6.5rem;
                        
                            }
                            .row-1 img{
                              position: relative;
                              
                            }
                            .pos1 img{
                              width: 550px;
                              outline: 100px solid rgba(6, 255, 210, 0.5);
                              
                              outline-offset: -100px;
                             
                              
                            }
                            .pos2 img{
                              outline: 100px solid rgba(255, 0, 0, 0.3);
                              
                              outline-offset: -100px;
                              width: 750px;
                             
                              
                            }
                            .pos3{
                              display: none;
                            }
                            .pos6{
                              display: none;
                            }
                            .pos4 img{
                              outline: 100px solid rgba(0, 0, 0, 0.5);
                              
                              outline-offset: -100px;
                              width: 530px;
                             
                            }
                            .pos5 img{
                              outline: 100px solid rgba(66, 255, 0, 0.3);
                              
                              outline-offset: -100px;
                             
                             width: 770px; 
                             
                            }
                            .row-2{
                              position: relative;
                              bottom: 2.5rem;
                            }
                            .BMI{
                              position: relative;
                              bottom: 34.8rem;
                              width: 30rem;
                              left: -1rem;
                              height: 123.5rem;
                              
                            }
                            .calculate{
                              display: grid;
                              grid-template-columns: 1fr ;
                              
                            }
                            .chart{
                              margin-top: 20rem;
                            }
                            .headerbmi{
                              position: relative;
                              top: 25rem;
                            }
                            .sc{
                              display: flex;
                              position: relative;
                              bottom: 25rem;
                              right: 1rem;
                              height: 100%;
                              flex-direction: column;
                              
                            }
                            .universe{
                              width: 60rem;
                              padding-bottom: 0px;
                              
                            
                              

                            }
                            .TopTop{
                              margin-top: 1rem;
                            }
                            .TopTop p{
                              font-size: 2rem;
                              color: silver;

                            }
                            .row-3{
                              display: grid;
                              grid-template-columns: 1fr;
                            }
                            .row-3 img{
                              height: 415px;
                            }
                            .chobi4{
                              display: none;
                            }
                            .chobi5{
                              display: none;
                            }
                            .row-4{
                              display: grid;
                              grid-template-columns: 1fr;

                            }
                            .row-4 img{
                              height: 415px;
                              
                            }
                           .likha1{
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 23rem;
                            left: 3rem;
                           
                          
                           }
                           .likha2{
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 50rem;
                            left: 3rem;
                            
                            

                          
                           }
                           .likha3{
                           
                            position:absolute;
                            top: 78rem;
                            left: 3rem;
                           
                            
                            

                           }
                           .likha6{
                            position: absolute;
                            left: 3rem;

                           
                           }.likha1 h3{
                            
                            background: rgba(0, 0, 0, 0.2);
                           }.likha2 h3{
                            
                            background: rgba(0, 0, 0, 0.2);
                           }


                           .likha3 h3{
                            
                            background: rgba(0, 0, 0, 0.2);
                           }
                           .likha6 h3{
                            
                            background: rgba(0, 0, 0, 0.2);
                           }
                           .footer{
                            position: absolute;
                            top: 704.5rem;
                            display: grid;
                            grid-template-columns: 1fr;
                            
                           }
                           .footer1{
                            margin-right: 3.5rem;
                           }
                           .pera p{
                            font-size: 2rem;
                           }
                           .footer2{
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           position: relative;
                           bottom: 10rem;
                           
                                                

                           }
                           .footer2 h3{
                            font-size: 3rem;
                           }
                           .footer2 p{
                            font-size: 2rem;
                           }
                           .footer3{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                          
                            position: relative;
                            bottom:20rem;
                           }
                           .footer3 h3{
                            font-size: 3rem;
                           }
                           .footer3 p{
                            font-size: 2rem;
                           }
                           .hr2{
                            display: none;
                           }
                           .hr3{
                            position: relative;
                            bottom: 25.1rem;
                           }
                           .hr1{
                           position: relative;
                           bottom: 15rem;
                           
                           }
                           .Copyri8 h2{
                            position:absolute;
                            bottom: 18rem;
                            right: 61rem;
                            font-size: 2rem;
                            
                            

                            
                           }
                           

                          }
 
